<!DOCTYPE html>
<html>
<head>
    <title>All Books</title>
</head>
<body bgcolor="#f0f0f0">
    <center>
        <h1>Welcome to My Book Store</h1>
        <a href="{% url 'create_book' %}"><b>[ Add a New Book ]</b></a>
        <br><br>
        <table border="1" cellpadding="10" width="80%">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Views</th>
                <th>Actions</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.desc }}</td>
                <td>{{ book.rate }}</td>
                <td>{{ book.views }}</td>
                <td>
                    <a href="{% url 'update_book' book.id %}">Edit</a> | 
                    <a href="{% url 'delete_book' book.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
